---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores(area(80204,10))?apiKey=uf3hrj9pa5u2jxvqa3xfq5a5&format=json&show=storeId,storeType,name,city,distance,phone
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"from":1,"to":7,"currentPage":1,"total":7,"totalPages":1,"queryTime":"0.010","totalTime":"0.016","partial":false,"canonicalUrl":"/v1/stores(area(\"80204\",10))?show=storeId,storeType,name,city,distance,phone&format=json&apiKey=uf3hrj9pa5u2jxvqa3xfq5a5","stores":[{"storeId":1224,"storeType":"Big
        Box","name":"BELMAR CO","city":"LAKEWOOD","distance":3.66,"phone":"303-742-8039"},{"storeId":2740,"storeType":"Mobile
        SAS","name":"CHERRY CREEK MALL","city":"DENVER","distance":3.84,"phone":"303-270-9189"},{"storeId":211,"storeType":"Big
        Box","name":"COLORADO BLVD CO","city":"DENVER","distance":5.56,"phone":"303-758-5805"},{"storeId":382,"storeType":"Big
        Box","name":"DENVER WEST CO","city":"LAKEWOOD","distance":7.12,"phone":"303-273-5617"},{"storeId":210,"storeType":"Big
        Box","name":"LITTLETON CO","city":"LAKEWOOD","distance":8.84,"phone":"303-932-7830"},{"storeId":209,"storeType":"Big
        Box","name":"WESTMINSTER CO","city":"WESTMINSTER","distance":9.31,"phone":"303-426-4434"},{"storeId":1171,"storeType":"Big
        Box","name":"SOUTHGLENN CO","city":"CENTENNIAL","distance":10.14,"phone":"303-797-3246"}],"warnings":"Distances
        are in terms of miles (default)"}'
  recorded_at: Thu, 13 Apr 2017 16:04:07 GMT
recorded_with: VCR 3.0.3
